@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
    --primary: #273746;
}

[class$="-primary"] {
    background-color: var(--primary);
    border-color: var(--primary);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.card {
    width: 19rem;
}

.card-img-top {
    height: 200px;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 0.8rem;
}

.card-footer {
    border-top: 0;
    background-color: #ffffff;
}

.wrapper {
    flex: 1;
    position: relative;
    overflow-x: hidden;
    border-radius: 13px;
    align-items: center;
}

.wrapper .icon {
    position: absolute;
    top: 0;
    height: 80%;
    width: 105px;
    display: flex;
    align-items: center;
}

.icon:first-child {
    left: 0;
    display: none;
    background: linear-gradient(90deg, #fff 70%, transparent);
}

.icon:last-child {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(-90deg, #fff 70%, transparent);
}

.icon i {
    width: 45px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
}

.icon i:hover {
    background-color: #efedfb;
}

.icon:first-child i {
    margin-left: 15px;
}

.icon:last-child i {
    margin-right: 15px;
}

.wrapper .tabs-box {
    display: flex;
    gap: 12px;
    list-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: center;
    line-height: 30px;
}

.tabs-box.dragging {
    scroll-behavior: auto;
    cursor: grab;
}

.tabs-box.dragging .tab {
    user-select: none;
    pointer-events: none;
}


.check {
    display: none;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    white-space: nowrap;
    background-color: #f5f4fd;
    border-radius: 10px;
}

.check:checked+.button {
    border: 1px solid black;
}